.data-table {
	background-color: #EEEEEE;
	border-collapse: separate;
	border: 5px solid $color-box-border;

	td, th {
		border-color: rgba(255, 255, 255, 0.5);
		padding: 3px;
	}

	tr:nth-child(even) td {
		background-color: $color-inline-code-background
	}

	a {
		border-bottom: none;
		font-size: 1em;
	}
}

.data-table:hover {
	@include transition(all .3s ease-in-out);
	border-color: $color-hover;
}