.the-footer {
	color: $color-text;
	padding: 26px;

	ul {
		list-style: disc;
		padding-left: 1em;
	}
	address {
		font-style: normal
	}

	a {
		color: $color-text;
		border: 0;
	}
	a:hover {
		@include transition(all .3s ease-in-out);
		color: $color-hover;
	}

	h4 {
		margin-top: 0
	}
	h4 a:hover {
		color: $color-hover;
		font-weight: bold;
	}

	.back-to-top {
		background-color: transparent;
		bottom: .5em;
		display: none;
		font-size: .9em;
		padding: 1.2em;
		padding-bottom: .2em;
		position: fixed;
		right: .25em;
		text-decoration: none;
	}
}

.the-footer  .social-icons a img {
	border: solid 3px transparent;
	margin-bottom: 0;
	opacity: .5;
	filter: alpha(opacity=50); /* IE6-9 */
}
.the-footer .social-icons a img:hover {
	@include transition(all .3s ease-in-out);
	opacity:1.0;
	filter: alpha(opacity=100); /* IE6-9 */
	animation: spin 1s linear;
	-webkit-animation: spin 1s linear;
	-o-animation: spin 1s linear;
}
@-webkit-keyframes spin {
	from {
		-webkit-transform: rotate(0deg)
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}
@-moz-keyframes spin {
	from {
		-moz-transform: rotate(0deg)
	}
	to {
		-moz-transform: rotate(360deg);
	}
}
@keyframes spin {
	from {
		transform: rotate(0deg)
	}
	to {
		transform: rotate(360deg);
	}
}