.the-footer {
	color: $color-text;
	padding: 26px;

	ul {
		list-style: disc;
		padding-left: 1em;
	}
	address {
		font-style: normal
	}

	a {
		color: $color-text;
		border: 0;
	}
	a:hover {
		@include transition(all .3s ease-in-out);
		color: $color-hover;
	}

	h4 {
		margin-top: 0
	}
	h4 a:hover {
		color: $color-hover;
		font-weight: bold;
	}

	.back-to-top {
		background-color: transparent;
		bottom: .5em;
		display: none;
		font-size: .9em;
		padding: 1.2em;
		padding-bottom: .2em;
		position: fixed;
		right: .25em;
		text-decoration: none;
	}
}